.form {
  position: relative;
  display: flex;

  gap: 15px;
  margin: 0vh auto 0;
  transform: translateY(-0%);
  padding: 20px;
  /* border: 1px solid red; */
}

.form .input-group {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  padding: 0;
}

.form .input-group input {
  padding: 10px;
}

.form button {
  margin-top: 20px;
}
