#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header-box {
  display: flex;

  gap: 15px;
  margin: 0vh auto 0;
  transform: translateY(-0%);
  padding: 20px;
}
.header-box button {
  padding: 30px;
}
